/* Scopri la storia della National Basketball Association attraverso la  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-fluid{
    --bs-gutter-x: 0rem;
}

header{
    margin: 0;
}

header a, i, .col-6{
    color: #FA8320;
}

header a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-orange{
    background-color: #FA8320;
}

#jumbotron{
    box-shadow: #FA8320 0px 5px;
}

#jumbo-title{
    color: #d9c190;
}

#jumbo-title p{
    color: #d9c190;
}

#header-p{
    color: #FA8320;
}

.b-shadow{
  box-shadow: #FA8320 5px 5px;
}

/* TITOLI */
h1{
  text-shadow: 2px 2px 2px orange;
}

h2{
  text-shadow: 1px 1px 1px orange;
    color: #212529;
}

.col-1{
  background-color: #212529;
}

main hr{
  color: white;
  height: 3px;
}
.card{
  width: auto;
}

.card-body .btn-primary{
  background-color: white;
  border: none;
  color: green;
}

/* TIMELINE */
.horizontal-timeline .items {
    border-top: 3px solid #e9ecef;
  }
  
  .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
  }
  
  .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-top: 8px;
  }

.color-orange{
    color: #FA8320;
}



















/* MEDIA QUERIES */
  
  @media (min-width: 1140px) {
    .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal-timeline .items .items-list .event-date {
      top: -40px;
    }
  }