/* Scopri la storia della National Basketball Association attraverso la  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    --bs-gutter-x: 0rem;
}

header{
    margin: 0;
}

header a, .col-4, i, .col-6{
    color: #FA8320;
}

header a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-orange{
    background-color: #FA8320;
}

hr{
    width: 30%;
}

#header-p{
    color: #FA8320;
}

.bg-lightblue{
    background-color: #5b7c99;
}