*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard{
    background-image: url(../assets/img/header-pic-best-75-nba.jpg);
    height: 700px;
    /* filter: blur(3px);  */
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-link{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: orange;
}

.dash-link a{
   color: #fff;
   text-decoration: none;
   padding: 15px;
}

.dash-link i{
    padding: 10px;
 }

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    color: white;
}


/* COLONNE */
.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
}